* 자료출처
https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1KB9011&vw_cd=MT_ZTITLE&list_id=J_20_6&seqNo=&lang_mode=ko&language=kor&obj_var_id=&itm_id=&conn_path=MT_ZTITLE

In [2]:
import pandas as pd
import numpy as np

In [3]:
df.shape

(433, 13)

In [4]:
df.head(10)

,시도별,건물연면적규모별,산업별,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,2019.9
0,시도별,건물연면적규모별,산업별,사업체수 (개),종사자수 (명),매출액 (백만원),영업비용 (백만원),매출원가 (백만원),판매비와 관리비 (백만원),인건비 (백만원),임차료 (백만원),기타경비 (백만원),건물연면적 (㎡)
1,전국,계,대형종합소매업,585,75104,38470212,36158642,23649207,12509435,3168163,619881,8721391,19110861
2,전국,계,백화점,97,12171,11038815,9708677,4083712,5624965,771805,223142,4630018,6271537
3,전국,계,대형 마트,488,62933,27431397,26449965,19565495,6884470,2396358,396739,4091373,12839324
4,전국,계,기타 대형종합소매업,-,-,-,-,-,-,-,-,-,-
5,전국,"6,600m² 미만",대형종합소매업,76,7169,3261570,3059892,1986470,1073422,294673,48693,730056,331244
6,전국,"6,600m² 미만",백화점,6,653,777537,676850,302469,374381,46493,13246,314642,26804
7,전국,"6,600m² 미만",대형 마트,70,6516,2484033,2383042,1684001,699041,248180,35447,415414,304440
8,전국,"6,600m² 미만",기타 대형종합소매업,-,-,-,-,-,-,-,-,-,-
9,전국,"6,600-9,900m² 미만",대형종합소매업,47,5099,2041801,1960189,1375734,584455,191812,25409,367234,388543

In [19]:
department_store = df[df['업체별'] == '백화점']

In [25]:
department_store

,시도별,업체별,사업체수 (개),종사자수 (명),남자 (명),여자 (명),판매액계 (백만원),전년하반기 (백만원),당해년상반기 (백만원),기초재고 (백만원),기말재고 (백만원),구입액 (백만원),영업경비 (백만원),매장면적 (㎡)
1,전국,백화점,63.0,23450,8747,14703,2609644,1210253,1399391,271056,347046,1941442,448116,720951
4,서울특별시,백화점,25.0,13483,5567,7916,1738679,797350,941329,170989,218147,1272192,325279,348114
7,부산광역시,백화점,8.0,1911,534,1377,121342,64036,57306,22809,24979,90258,17183,40481
10,대구광역시,백화점,4.0,2307,662,1645,260786,123700,137086,30118,38390,198551,28798,71857
13,인천광역시,백화점,2.0,491,215,276,40601,19816,20785,1662,2115,29587,7076,31944
16,광주광역시,백화점,4.0,1010,334,676,95975,48260,47715,13121,13765,70148,16425,27007
19,대전광역시,백화점,3.0,858,312,546,77466,35597,41869,9327,10118,59998,11401,32650
22,경기도,백화점,5.0,825,291,534,76556,30641,45914,4611,5834,58964,13102,76930
27,충청북도,백화점,2.0,266,100,166,25659,10214,15445,864,3481,19569,2998,8316
30,충청남도,백화점,1.0,-,-,-,-,-,-,-,-,-,-,-
33,전라북도,백화점,1.0,-,-,-,-,-,-,-,-,-,-,-
36,전라남도,백화점,NaN,-,-,-,-,-,-,-,-,-,-,-
39,경상북도,백화점,3.0,575,189,386,32439,15689,16750,5254,12910,32932,4496,16916
42,경상남도,백화점,5.0,1304,431,873,114711,53654,61058,11755,15847,90637,17569,43949